[submodule "shells/modules/bash-it"]
	path = shells/modules/bash-it
	url = https://github.com/revans/bash-it.git
[submodule "shells/modules/SpotifyControl"]
	path = shells/modules/SpotifyControl
	url = https://github.com/dronir/SpotifyControl.git
