[submodule "zsh/prezto"]
	path = zsh/prezto
	url = git://github.com/sorin-ionescu/prezto.git
[submodule "modules/spotify_control"]
	path = modules/spotify_control
	url = git://github.com/dronir/SpotifyControl.git
[submodule "bash/bash_it"]
	path = bash/bash_it
	url = git://github.com/revans/bash-it.git
[submodule "modules/fasd"]
	path = modules/fasd
	url = git://github.com/clvv/fasd.git
